.section-page {
    > * {
        margin: 40px auto;
    }

    .section-page__heading {
        text-align: center;
    }

    .two-column-card {
        position: relative;
        box-shadow: rgba(0, 0, 0, .5) 0 5px 6px 1px;
        width: 960px;
        min-height: 160px;
        max-width: 100%;
        overflow: hidden;

        .two-column-card__image {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            background-position: center center;
            background-size: cover;
        }

        .two-column-card__rich-text {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding: 4px 8px;
        }

        *:last-child {
            position: absolute;
            right: 0;
        }
    }

    .link-cards-row {
        width: 960px;
        max-width: 100%;
        text-align: center;
    }

    .link-card {
        display: inline-block;
        margin: 0 5px;
        vertical-align: top;
        width: 45%;
        text-align: left;

        .link-card__image {
            width: 100%;
            padding: 0 0 80%;
            background-position: center center;
            background-size: cover;
        }

        .link-card__content {
            padding: 0 10px;
        }

        .link-card__link {
            border-bottom: 3px solid #64706c;
        }
    }

    @media only screen and (min-width: 600px) {
        .two-column-card {
            min-height: 250px;
        }

        .link-card {
            margin: 0 10px;

            .link-card__content {
                padding: 0 15px;
            }
        }
    }

    @media only screen and (min-width: 960px) {
        .two-column-card {
            min-height: 350px;
        }

        .link-card {
            margin: 0 20px;

            .link-card__content {
                padding: 0 25px;
            }
        }
    }
}
