.banner {
    padding: 15px 0;
    text-align: center;

    .banner__home-link {
        display: inline-block;
        font-size: 1.4em;
        color: #fff;
    }

    .banner__logo {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 1.1em;
    }

    .banner__site-name {
        display: inline-block;
        vertical-align: middle;
    }
}

.menu-button {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 10000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    .menu-button__icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }

    @media only screen and (min-width: 960px) {
        width: 50px;
        height: 50px;
    }
}
