/* == Base rules are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. == */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

::-moz-selection {
    background: #F16529; /* TODO: Change to desired color */
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #F16529; /* TODO: Change to desired color */
    color: #fff;
    text-shadow: none;
}

button {
    outline: 0;
}

img,iframe,table {
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
}