/// <reference path="_variables.scss"/>
/* == Layout rules divide the page into sections. Layouts hold one or more modules together. == */

.container {
    max-width: 100%;
    width: $defaultContainerWidth;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

/*-------------------------------------*/
// HEADER
header {
    background: $purple;
}

#header-logo img {
    max-width: 170px;
    float: left;
}



/*-------------------------------------*/
// LEFT SIDEBAR
#l-sidebar {
    width: 22%;
    margin-right: 3%;
    float: left;
    min-height: 1px; /* If we don't have any pages in left-nav - still show container*/
}



/*-------------------------------------*/
// RIGHT SIDEBAR
aside {
    margin-top: 20px;
    float: right;
    font-size: .8em;
    width: 24%;
    margin-left: 3%;
    border-top: 20px solid $purple-light;
    color: white;
    padding: 0 15px 10px;
    background: $purple;
}



/*-------------------------------------*/
// FOOTER
footer {
    background: $purple;
    border-top: 20px solid $purple-light;
    color: white;
    padding: 20px 0 80px;
    margin-top: 90px;

    p {
        margin: 3px 0;
    }
}



/*-------------------------------------*/
// MAIN CONTENT
main, article {
    overflow: hidden;
    min-height: 450px;
}

.grid-section > div {
    background-position: center; /* Centrera bakgrundsbilder i grid-sektioner */
}



/*-------------------------------------*/
// MEDIA QUERIES

@media only screen and (max-width: 990px) {
    .umb-grid .column {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 800px) {
    aside {
        width: 75%;
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    main,
    aside {
        width: 100%;
    }

    #l-sidebar {
        display: none;
    }
}
