/* == Layout rules divide the page into sections. Layouts hold one or more modules together. == */

.container {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* == Header == */

header {
    background: #f16529;
}
/* == End of Header == */ /* == Left sidebar == */

#l-sidebar {
    width: 22%;
    margin-right: 3%;
    float: left;
}
/* == End of Left sidebar == */ /* == Right sidebar == */

aside {
    margin-top: 20px;
    float: right;
    width: 24%;
    border-top: 20px solid #e44d26;
    color: white;
    padding: 0 15px 10px;
    background: #f16529;
}
/* == End of Right sidebar == */ /* == Footer == */

footer {
    background: #f16529;
    border-top: 20px solid #e44d26;
    color: white;
    padding: 20px 0;
    margin-top: 70px;
}
/* == End of Footer == */ /* == Main content == */

main {
    float: left;
    width: 49%;
    min-height: 53vh;
}

.no-leftnav main {
    width: 74%;
}
/* Pages without right column should have a bit wider content */

.pagetype-commonpagegrid main,
.pagetype-newslist main,
.pagetype-news main {
    width: 75%;
}
/* A grid-page wihtout left navigation */

.pagetype-commonpagegrid.no-leftnav main {
    width: 100%;
}

.umb-grid .container {
    padding: 0; /* Grid-containers should not have padding */
}

.grid-section > div {
    background-position: center; /* Centrera bakgrundsbilder i grid-sektioner */
}
/* == End of Main content == */


@media only screen and (max-width: 767px) {
    main,
    .pagetype-commonpagegrid main,
    aside {
        width: 100%;
    }
}
