/* == Layout rules divide the page into sections. Layouts hold one or more modules together. == */


.wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
}


#l-header-container {
    border-bottom: 20px solid #e44d26;
}

#l-footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

#l-header-container,
#l-footer-container,
.main aside {
    background: #f16529;
}

#l-footer-container footer {
    color: white;
    padding: 20px 0;
}

.title a {
    color: white;
    text-decoration: none;
}

/* == WIDE: Main == */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main #l-sidebar {
    margin-top: 20px;
    float: left;
    width: 20%;
    margin-right: 2%;
    background: #f16529;
}

.main article {
    float: left;
    width: 57%;
}
.pagetype-articlewithgrid .main article {
    width: 78%;
}

.main aside {
    margin-top: 20px;
    float: right;
    width: 20%;
}

.main aside > div {
    color: white;
    padding: 0px 5% 10px;
}