/* == Layout rules divide the page into sections. Layouts hold one or more modules together. == */

.container {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* == Header == */
header {
    background: #f16529;
}

#header-logo img {
    max-width: 170px;
    float: left;
}
/* == End of Header == */


/* == Left sidebar == */
#l-sidebar {
    width: 22%;
    margin-right: 3%;
    float: left;
}
/* == End of Left sidebar == */


/* == Right sidebar == */
aside {
    margin-top: 20px;
    float: right;
    font-size: .8em;
    width: 24%;
    margin-left: 3%;
    border-top: 20px solid #e44d26;
    color: white;
    padding: 0 15px 10px;
    background: #f16529;
}
/* == End of Right sidebar == */


/* == Footer == */
footer {
    background: #f16529;
    border-top: 20px solid #e44d26;
    color: white;
    padding: 20px 0;
    margin-top: 70px;
}
/* == End of Footer == */


/* == Main content == */
main, article {
    overflow: hidden;
    min-height: 450px;
}

    main .umb-grid .container {
        padding: 0; /* Grid-containers should not have padding since we want to be able to wrap grid-content inside our own .container aswell (this avoids double padding on nested containers). */
    }

.grid-section > div {
    background-position: center; /* Centrera bakgrundsbilder i grid-sektioner */
}

/* == End of Main content == */


@media only screen and (max-width: 990px) {
    .umb-grid .column {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 800px) {
    aside {
        width: 75%;
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    main,
    aside {
        width: 100%;
    }
}
