/* == Media Queries == */

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 768px) {

    .title {
        float: none;
    }

    main #l-sidebar,
    #l-sidebar nav,
    main article,
    main aside {
        width: 100%;
    }

    main #l-sidebar {
        background: none;
    }

    #l-topnav {
        float: none;
        width: 100%;
    }

    #l-topnav a {
        width: auto;
    }
}