/* == Media Queries == */

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 768px) {

    #l-topnav {
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .title {
        float: none;
    }

    main #l-sidebar,
    #l-sidebar nav,
    main article,
    main aside {
        width: 100%;
    }

    main #l-sidebar {
        background: none;
    }

    #l-topnav {
        float: left;
        width: 100%;
    }

    #l-topnav a {
        width: auto;
    }
}

@media only screen and (max-width: 1140px) {

    .wrapper {
        width: 90%;
        margin: 0 5%;
    }
}
