<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Flexibel sida</Name>
    <Alias>CommonPageGrid</Alias>
    <Icon>icon-grid</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Layout</Master>
    <Compositions>
      <Composition>Layout</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>CommonPageGrid</Template>
    </AllowedTemplates>
    <DefaultTemplate>CommonPageGrid</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Faq</DocumentType>
    <DocumentType>internalLink</DocumentType>
    <DocumentType>CommonPage</DocumentType>
    <DocumentType>CommonPageGrid</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Innehåll</Name>
      <Alias>contentMiddle</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>0f498206-9232-457c-a590-bd77f49f40c3</Definition>
      <Tab>Innehåll</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>34</Id>
      <Caption>Innehåll</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>