<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Sök</Name>
    <Alias>Search</Alias>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Layout</Master>
    <Compositions>
      <Composition>Layout</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Search</Template>
    </AllowedTemplates>
    <DefaultTemplate>Search</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>internalLink</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>