#left-nav ul {
    list-style-type: none;
    padding: 0;
}

#left-nav a {
    background-color: #F16529;
    color: #FFF;
    padding: 9px 12px;
    display: block;
}

#left-nav > ul > li {
    background: #FFECE4; /* Background for submenus */
}

    #left-nav > ul > li.active > a {
        background-color: #D25925; /* Slightly darker active menu */
    }

#left-nav > ul ul {
    padding-left: 5%; /* Move every submenu a bit to the right */
}

#left-nav ul ul a {
    background-color: transparent;
    color: #333;
}

#left-nav ul ul ul a {
    font-size: 13px;
}

#left-nav.dyn-menu ul ul {
    display: none;
}

#left-nav.dyn-menu .active > ul {
    display: block; /* Only display sub-ul's in 'active' li's '*/
}

@media only screen and (max-width: 767px) {
    #left-nav {
        display: none;
    }
}
