.top-links {
    text-align: right;

    li {
        display: inline-block;
    }

    a {
        margin-left: 27px;
        color: #fff;
    }

    span,
    img {
        vertical-align: middle;
    }

    img {
        max-width: 15px;
    }
}

/* == Toplinks in the mobile menu == */
nav {
    .top-links {
        border: 1px solid #3C3C3C;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .top-links {
        display: none;

        a {
            margin: 0 14px;
        }
    }
}
