.top-links {
    text-align: right;
}

    .top-links li {
        display: inline-block;
    }

    .top-links a {
        margin-left: 27px;
        color: #fff;
    }

    .top-links span, .top-links img {
        vertical-align: middle;
    }

    .top-links img {
        max-width: 15px;
    }


/* Toplinks in the mobile menu */
nav .top-links {
    border: 1px solid #3C3C3C;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .top-links {
        display: none;
    }

        .top-links a {
            margin: 0 14px;
        }
}
