/* Hide some elements as default. Should only be visible on mobile */
#top-nav .toggle,
#top-nav .search-form,
#top-nav .top-links,
#top-nav .dyn-menu ul {
    display: none;
}


#top-nav {
    background-color: #E44D26;
}

    #top-nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #top-nav li {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    #top-nav a {
        color: white;
        padding: 18px 30px;
        display: inline-block;
    }

    #top-nav .active > a {
        background-color: #984B2A;
    }

.mobile-menu-open #top-nav {
    display: block;
}


@media only screen and (max-width: 767px) {
    #top-nav .search-form,
    #top-nav a,
    #top-nav .dyn-menu li,
    #top-nav .top-links {
        display: block;
    }

    #top-nav {
        display: none;
    }


    #top-nav {
        z-index: 100000;
        width: 100%;
    }

        #top-nav a {
            padding: 6px 0;
        }

        #top-nav .toggle {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        #top-nav .active > ul {
            display: block;
        }

        #top-nav ul ul {
            padding-left: 20px;
        }
}
