#left-nav {
    ul {
        list-style-type: none;
        /*ul {
            a {
                background-color: transparent;
                color: #333;
            }
        }*/
    }

    a {
        padding: 9px 12px;
        display: block;
    }

    .nav-name {
        width: 77%;
        width: calc(100% - 40px);
        display: block;
    }

    .nav--is-expanded > ul {
        display: block; /* Only display sub-ul's in 'active' li's '*/
    }
}



.side-nav__lv-1 {
    padding: 0;

    a {
    }

    li {
        background: #F3E9F9; /* Background for submenus */
    }

    ul {
        display: none;
        padding: 0 0 0 5%; /* Move every submenu a bit to the right */
    }
}

.side-nav__link-lv-1 {
    background-color: $purple;
    color: #FFF;
}


.side-nav__lv-2 {
    font-size: .9em;
}

@media only screen and (max-width: 767px) {
    #left-nav {
        display: none;
    }
}
