.main-nav {
    background-color: $purple-light;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        float: left;
    }

    a {
        @include transition(background-color .2s,color .2s);
        color: inherit;
        padding: 1em;
        display: block;
    }

    .top-links,
    .dyn-menu ul {
        /* Hide some elements as default. Should only be visible on mobile */
        display: none;
    }
}

.mobile-menu-open {
    .main-nav {
        display: block;
    }
}



.main-nav__lv-1 {
    display: none;
}

@media only screen and (min-width: 768px) {
    .main-nav {
        /* Active menu state in large-screen menu */
        .nav--is-expanded,
        a:hover {
            background: $purple;
            color: #fff;
        }

        .nav-sub-expander {
            display: none;
        }
    }
}



@media only screen and (max-width: 767px) {
    .main-nav {
        display: none;

        li {
            float: none;
        }

        .main-nav__lv-0 ul {
        }


        .nav--is-expanded > ul {
            display: block; /* Only display sub-ul's in 'nav--is-expanded' li's '*/
        }
        /* TODO - style top links in mobile menu */
        .top-links {
            display: block;
            float: none;
            border-top: 1px solid gray;
        }
    }

    .main-nav--link-is-current {
        background: red;
    }

    .main-nav__lv-0 {
        ul {
            display: none;
            padding-left: 2%; /* Move every submenu a bit to the right. Clean solution if your submenus does NOT have --is-active background-colors */
        }
    }
}
