.main-nav {
    background-color: $purple-light;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        float: left;
    }

    a {
        color: white;
        padding: 18px 30px;
        display: block;
    }

    .active > a {
        background-color: #9071A2;
    }


    .top-links,
    .dyn-menu ul {
        /* Hide some elements as default. Should only be visible on mobile */
        display: none;
    }
}

.mobile-menu-open {
    .main-nav {
        display: block;
    }
}



.main-nav__lv-1 {
    display: none;
}

@media only screen and (min-width: 768px) {
    .main-nav {
        .nav-sub-expander {
            display: none;
        }
    }
}

@media only screen and (max-width: 767px) {
    .main-nav {
        display: none;
        z-index: 100000;

        li {
            float: none;
        }

        .main-nav__lv-0 ul {
            display: none;
        }

        .nav--is-expanded > ul {
            display: block; /* Only display sub-ul's in 'active' li's '*/
        }

        ul ul {
            padding-left: 20px;
        }

        .top-links {
            display: block;
        }
    }
}
