nav a {
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    position: relative;
}


/* == Dynamic navigation (top/mobile-nav, left-nav) == */

.nav-sub-expander {
    position: absolute;
    height: 100%;
    width: 45px;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.05);

    @extend %flexbox;
    @include align-items(center);

    &:before {
        content: "+";
        width: 100%;
    }
}

.nav--is-expanded > ul {
    /* display: block; Only display sub-ul's in 'active' li's '*/
}

/*.active > ul {
    display: block; /* Only display sub-ul's in 'active' li's '
}*/

.nav--is-expanded > a > .nav-sub-expander:before,
.maximizing > a > .nav-sub-expander:before {
    content: "-";
}


.nav-sub-expander .minimizing > a > .nav-sub-expander:before {
    content: "+" !important;
}
/* == End of Dynamic navigation == */


/* == Mobile menu toggle == */
.mobile-menu-toggle {
    border: 1px solid #333;
    padding: 5px 8px;
    display: none;
    border-radius: 3px;
    float: right;
    color: #000;
}

.mobile-menu-toggle i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 1.3em;
}
/* == End of Mobile menu toggle == */

/* Pulsera plus-knappen samt sökens "Visa fler resultat" när det laddar för att ge användaren någon respons om det skulle ta lång tid */
.nav--is-loading .nav-sub-expander {
    @extend %pulsate;
}

@media only screen and (max-width: 767px) {
    .mobile-menu-toggle {
        display: block;
    }
}
