<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Faq</Name>
  <Alias>Faq</Alias>
  <Design><![CDATA[@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<section id="l-sidebar">
    @RenderPage("Partials/_LeftNav.cshtml")
</section>

<article>

    @if (Model.Content.DocumentTypeAlias == "Faqquestion")
    {
        <h1>@Model.Content.Name</h1>
        @FaqQuestion(Model.Content)
    }
    else
    {
        @Model.Content.GetPropertyValue("contentMiddle")

        @* Questionlist *@
        foreach (var page in Model.Content.Children)
        {
            @FaqQuestion(page)
        }
    }

</article>


@helper FaqQuestion(IPublishedContent page) {
    <div class="faq">
        <h3 class="question">@page.Name</h3>
        <div class="answer">
            @page.GetPropertyValue("answer")
        </div>
    </div>
}]]></Design>
</Template>