.menu-button {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ede9ce;
    cursor: pointer;

    .menu-button__icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
}

.navigation-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -4000px;
    z-index: 100000;
    width: 100%;
    background-color: #ede9ce;
    transition: left .25s ease-in-out;

    &.navigation-menu--open {
        left: 0;
    }

    .navigation-menu__close {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .navigation-menu__close-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }

    .navigation-links {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 960px;
        max-width: 100%;
        padding: 0 15px;
        text-align: center;
        list-style: none;
    }

    .navigation-link {
        display: block;
        margin: .5em 0;
        font-size: 24px;
    }

    .navigation-link--current {
        .navigation-link__link {
            border-bottom: 3px solid #64706c;
        }
    }
}
