.search-button {
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ede9ce;
    cursor: pointer;

    .search-button__icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
}

.search-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -4000px;
    z-index: 100000;
    width: 100%;
    background-color: #ede9ce;
    transition: right .25s ease-in-out;

    &.search-menu--open {
        right: 0;
    }

    .search-menu__close {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .search-menu__close-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }

    .search-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
}
