@model IPublishedContent
@{
    var warning = Model.GetPropertyValue<string>("cookieWarning");
}
@if (!string.IsNullOrEmpty(warning))
{
    <div id="cookie-warning">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    @Model.GetPropertyValue("cookieWarning")
                </div>
                <div class="col-xs-12 col-sm-3">
                    <a href="javascript:void(0)" class="accept">
                        <i class="icon-cancel"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}