@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@using Newtonsoft.Json.Linq
@using umbraco.NodeFactory

@{
    var slides = CurrentPage.GetPropertyValue<JArray>("slider") == null ? new JArray() : CurrentPage.GetPropertyValue<JArray>("slider");
}

@if (slides.Count > 0)
{
    <div class="swiper-container">

        <div class="swiper-wrapper">
            @foreach (var item in slides)
            {
                if (item.Value<string>("image") != String.Empty)
                {
                    var link = "";
                    var linkId = item.Value<string>("link");
                    if (linkId != String.Empty)
                    {
                        var node = new Node(Convert.ToInt32(linkId));
                        link = "onclick=\"document.location = '" + node.Url + "'\" class=\"swiper-link\"";
                    }
                    <div class="swiper-slide">
                        <img src="@Umbraco.TypedMedia(item.Value<string>("image")).Url?height=300&width=1026&mode=crop&center=0.25,0.30" alt="@(item.Value<string>("text"))" @Html.Raw(link)>
                    </div>
                }
            }
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
}