@inherits CamelontaUmbracoTemplatePage
@using Archetype.Models

@{
    var slides = Model.Content.GetPropertyValue<ArchetypeModel>("slider");
}

@if (slides.Fieldsets.Any())
{
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var slide in slides)
            {
                if (slide.HasValue("image"))
                {
                    <div class="swiper-slide">
                        @Image(Umbraco.Media(slide.GetValue("image")).Url)
                        @if (!string.IsNullOrEmpty(slide.GetValue("text")))
                        {
                            <div class="container">
                                @Html.Raw(slide.GetValue("text"))
                            </div>
                        }
                    </div>
                }
            }

        </div>
        <div class="container">
            <a href="javascript:void(0)" id="top-slider-prev" class="swiper-button-prev"></a>
            <a href="javascript:void(0)" id="top-slider-next" class="swiper-button-next"></a>
            <div class="swiper-pagination"></div>
        </div>
    </div>
}

@helper Image(string src)
{
    const string crop = "&mode=crop&anchor=middlecenter";
    <picture>
        <source media="(max-width: 550px)" srcset="@src?height=550&width=550@(crop)">
        <source media="(max-width: 767px)" srcset="@src?height=500&width=767@(crop)">
        <source media="(max-width: 1099px)" srcset="@src?height=400&width=1099@(crop)">
        <source media="(max-width: 2000px)" srcset="@src?height=400&width=1920@(crop)">
        <source media="(min-width: 2001px)" srcset="@src?height=550&width=2560@(crop)">
        <img src="@src?height=400&width=1920@(crop)" alt="">
    </picture>
}
