@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@using Archetype.Models
@using umbraco.NodeFactory

@{
    var slides = Model.Content.GetPropertyValue<ArchetypeModel>("slider");
}

@if (slides != null)
{
    <div class="swiper-container">

        <div class="swiper-wrapper">
            @foreach (var slide in slides)
            {
                if (slide.HasValue("image"))
                {
                    var link = "";
                    var linkId = slide.GetValue<int>("link");
                    if (linkId > 0)
                    {
                        var node = Umbraco.TypedContent(linkId);
                        link = "onclick=\"document.location = '" + node.Url + "'\" class=\"swiper-link\"";
                    }
                    <div class="swiper-slide">
                        <img src="@Umbraco.TypedMedia(slide.GetValue("image")).Url?height=300&width=1026&mode=crop&center=0.25,0.30" alt="@(slide.GetValue("text"))" @Html.Raw(link)>
                    </div>
                }
            }
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
}