@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@using Archetype.Models
@using umbraco.NodeFactory

@{
    var slides = Model.Content.GetPropertyValue<ArchetypeModel>("slider");
}

@if (slides != null)
{
    <div class="swiper-container">

        <div class="swiper-wrapper">
            @foreach (var slide in slides)
            {
                if (slide.GetValue<string>("image") != String.Empty)
                {
                    var link = "";
                    var linkId = slide.GetValue<string>("link");
                    if (linkId != String.Empty)
                    {
                        var node = new Node(Convert.ToInt32(linkId));
                        link = "onclick=\"document.location = '" + node.Url + "'\" class=\"swiper-link\"";
                    }
                    <div class="swiper-slide">
                        <img src="@Umbraco.TypedMedia(slide.GetValue<string>("image")).Url?height=300&width=1026&mode=crop&center=0.25,0.30" alt="@(slide.GetValue<string>("text"))" @Html.Raw(link)>
                    </div>
                }
            }
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
}