@inherits CamelontaUmbracoTemplatePage
@using Archetype.Models

@{
    var topLinks = CurrentSite.GetPropertyValue<ArchetypeModel>("topLinks");
}
@if (topLinks != null)
{
    <ul class="top-links">
        @foreach (var topLink in topLinks)
        {
            if (!topLink.GetValue<string>("text").IsEmpty())
            {
                <li>
                    <a href="@(topLink.GetValue<string>("link"))">
                        <span>@(topLink.GetValue<string>("text"))</span>
                        @if (!topLink.GetValue<string>("icon").IsEmpty())
                        {
                            <img src="@Umbraco.TypedMedia(topLink.GetValue<string>("icon")).Url?maxwidth=30" alt="@(topLink.GetValue<string>("text"))">
                        }
                    </a>
                </li>
            }
        }
    </ul>
}