@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@using Archetype.Models

@{
    var topLinks = Model.Content.GetPropertyValue<ArchetypeModel>("topLinks");
}

@if (topLinks != null)
{
    <div id="l-top-links">
        <ul>
            @foreach (var topLink in topLinks)
            {
                if (!topLink.GetValue<string>("text").IsEmpty())
                {
                    <li>
                        <a href="@(topLink.GetValue<string>("link"))">
                            <span>@(topLink.GetValue<string>("text"))</span>
                            @if (!topLink.GetValue<string>("icon").IsEmpty())
                            {
                                <img src="@Umbraco.TypedMedia(topLink.GetValue<string>("icon")).Url" alt="@(topLink.GetValue<string>("text"))">
                            }
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}