/*--------------------------------------*/
// FUNCTIONS
@function calculateSmallerContainerWidth($percentage) {
    $widthToSubtract: ($percentage / $default-container-width-value) * 10000;
    $newWidth: $default-container-width-value - $widthToSubtract;
    @return round($newWidth) + px;
}

@function calculateLargerContainerWidth($percentage) {
    $widthToAdd: ($percentage / $default-container-width-value) * 10000;
    $newWidth: $default-container-width-value + $widthToAdd;
    @return round($newWidth) + px;
}


/*--------------------------------------*/
// STYLES
[data-container-size="-50"] .container {
    width: calculateSmallerContainerWidth(50);
}

[data-container-size="-40"] .container {
    width: calculateSmallerContainerWidth(40);
}

[data-container-size="-30"] .container {
    width: calculateSmallerContainerWidth(30);
}

[data-container-size="-20"] .container {
    width: calculateSmallerContainerWidth(20);
}

[data-container-size="-10"] .container {
    width: calculateSmallerContainerWidth(10);
}

[data-container-size="+20"] .container {
    width: calculateLargerContainerWidth(20);
}

[data-container-size="full"] {
    .container {
        width: 100%;
        padding: 0;
    }

    .column {
        padding: 0;
        margin: 0;
    }
}

.grid-section > [data-container-size="full"] {
    padding: 0;
}
