# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
packages/

[Aa]pp_Data/
!*.sdf
[Aa]pp_Browsers/
/Boilerplate.Web/umbraco
/Boilerplate.Web/umbraco_client
[Aa]pp_Browsers/