@using Camelonta.Boilerplate.Classes.Search
@model Search
@{
    var umbraco = new UmbracoHelper(UmbracoContext.Current);
}

@if (Model.SearchResults.Any())
{
    foreach (var result in Model.SearchResults)
    {
        var node = umbraco.Content(result.Id);
        <a href="@node.Url" class="search-result">
            <h3>@Meta.PageTitle(node)</h3>
            <p>@Meta.PageTeaser(node)</p>
        </a>
    }
}
else if (!string.IsNullOrWhiteSpace(Model.SearchTerm))
{
    <p>Inga träffar på: <strong>@Model.SearchTerm</strong></p>
}