<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Youtube video</name>
  <alias>Youtubevideo</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/Youtube.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties>
    <property name="Rubrik" alias="header" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Höjd (frivillig)" alias="height" sortOrder="1" propertyType="Umbraco.Integer" />
    <property name="Länken till din youtube-film" alias="movieUrl" sortOrder="2" propertyType="Umbraco.Textbox" />
    <property name="Förhandsvisning (frivillig)" alias="previewImage" sortOrder="3" propertyType="Umbraco.MediaPicker" />
  </properties>
</macro>