@inherits UmbracoTemplatePage
@{ Layout = "~/Views/_Layout.cshtml"; }

<section id="l-sidebar">
    @RenderPage("Partials/_LeftNav.cshtml")
</section>

<article>
    <h2>@CurrentPage.Name</h2>
    @CurrentPage.GetGridHtml("grid")
</article>