@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<section id="l-sidebar">
    @RenderPage("Partials/_LeftNav.cshtml")
</section>

<article>
    <h2>@Model.Content.Name</h2>
    @Model.Content.GetPropertyValue("contentMiddle")
</article>

@if (Model.Content.HasValue("contentRight"))
{
    <aside>
        <div>
            @Model.Content.GetPropertyValue("contentRight")
        </div>
    </aside>
}