@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @Html.Partial("Layout/_LeftNav")

    @if (Model.Content.HasValue("contentRight"))
    {
        <aside role="complementary">
            @Model.Content.GetPropertyValue("contentRight")
        </aside>
    }

    <main role="main">
        @RenderHelper.Header(Model.Content)
        @Model.Content.GetPropertyValue("contentMiddle")
    </main>

</div>