@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @RenderPage("Partials/_LeftNav.cshtml")

    @if (Model.Content.HasValue("contentRight"))
    {
        <aside>
            @Model.Content.GetPropertyValue("contentRight")
        </aside>
    }

    <main>
        @RenderHelper.Header(Model.Content)
        @Model.Content.GetPropertyValue("contentMiddle")
    </main>

</div>