@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @RenderPage("Partials/_LeftNav.cshtml")

    @if (Model.Content.HasValue("contentRight"))
    {
        <aside>
            @Model.Content.GetPropertyValue("contentRight")
        </aside>
    }

    <main>
        @if (Model.Content.AutoHeader())
        {
            <h1>@Model.Content.Name</h1>
        }

        @Model.Content.GetPropertyValue("contentMiddle")
    </main>

</div>