@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @RenderPage("Partials/_LeftNav.cshtml")
    <main>
        @Html.GetGridHtml(Model.Content, "grid")
    </main>
</div>