@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@{ Layout = "~/Views/_Layout.cshtml"; }

<h2>@CurrentPage.Name</h2>

@RenderPage("Partials/_Slider.cshtml")

@CurrentPage.GetGridHtml("grid")