@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>@Model.Content.Name</h2>

@RenderPage("Partials/_Slider.cshtml")

@Model.Content.GetGridHtml("grid")