<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Nyhetslista</Name>
    <Alias>Newslist</Alias>
    <Icon>icon-radio</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Master>Layout</Master>
    <Compositions>
      <Composition>Layout</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>NewsList</Template>
    </AllowedTemplates>
    <DefaultTemplate>NewsList</DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure>
    <DocumentType>News</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>