<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Nyhet</Name>
    <Alias>News</Alias>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>CommonPage</Master>
    <Compositions>
      <Composition>CommonPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>CommonPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>CommonPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>