<div ng-controller="Diplo.LinkCheckerController" id="detail-dialogue">

    <div id="link-checker">

        <div>
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3><i class="icon-link"></i>Link Checker <small>v1.3</small> <span class="pull-right text-right"><a class="accordion-toggle" style="text-decoration: none" data-toggle="collapse" data-parent="#accordionAdvancedOpts" href="#collapseAdvanced" title="Settings"><i class="icon-settings"></i></a></span></h3>
                </div>

                <div class="alert alert-error" ng-show="errorMessage.length > 0">
                    <p>{{ errorMessage }}</p>
                </div>

                <div class="row">

                    <div class="span3">
                        <button ng-click="startCheck()" class="btn btn-success">{{ buttonText }}</button>
                    </div>

                    <div class="span3">
                        <label title="Tick to only show pages and links that have errors">
                            <input id="onlyErrors" type="checkbox" ng-model="config.onlyShowErrors" />
                            Only show errors
                        </label>
                    </div>

                    <div class="span6">
                        <div class="row">
                            <div class="span4 text-right">
                                Checked <span class="badge">{{ linksCheckedCnt }}</span>
                            </div>
                            <div class="span4 text-right">
                                OK <span class="badge badge-success">{{ linksOkCnt }}</span>
                            </div>
                            <div class="span4 text-right">
                                Errors <span class="badge badge-important">{{ linksErrorCnt }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="accordionAdvancedOpts">
                    <div id="collapseAdvanced" class="accordion-body collapse out">
                        <div class="row form-inline" style="padding-top: 20px">
                            <div class="span3">
                                <label title="Tick to check entire document, include header; otherwise just checks main body">
                                    <input type="checkbox" ng-model="config.checkEntireDocument" />
                                    Check entire document
                                </label>
                            </div>
                            <div class="span3">
                                <label for="http-timeout" title="Set how long to wait before deciding that a link has timed out">Timeout </label>
                                <input id="http-timeout" type="number" ng-model="config.timeout" class="input-mini" min="1" max="90" />
                                secs
                            </div>
                            <div class="span3">
                                <label title="Tick to allow searching of links within page results">
                                    <input type="checkbox" ng-model="config.showSearchBox" />
                                    Show search
                                </label>
                            </div>
                            <div class="span3 text-right">
                                <a href="" ng-click="openHelp()" style="font-size:26px" title="Help"><strong><i class="icon-help-alt"></i></strong></a>
                            </div>
                        </div>
                        <div class="row form-inline" style="padding-top: 20px">
                            <div class="span3">
                                <label title="Tick to only check internal links (ie. links within your website)">
                                    <input type="checkbox" ng-model="config.checkInternalLinksOnly" />
                                    Only check internal links
                                </label>
                            </div>
                            <div class="span7">
                                <label for="error-codes" title="Add status codes to limit the check to just these error statuses">Status codes</label>
                                <input id="error-codes" type="text" ng-model="config.showErrors" class="input-medium" placeholder="eg. 404,500,401" />
                                <small class="text-muted">comma-separated list of codes</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="progress progress-striped" title="{{ progress }} %" ng-show="progress > 0">
                <div class="bar" ng-style="{ width: progress + '%' }"></div>
            </div>

            <p ng-show="showStartMessage">
                <strong>Select the page to start the link check from <i class="icon-arrow-right"></i></strong>
            </p>

            <p ng-show="startNodeName">
                Checked <span>{{ pageCnt }}</span> pages starting from <strong>{{ startNodeName }}</strong>. <span ng-bind-html="finishMessage"></span> 
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse-link-stats" ng-show="finishMessage" title="View HTTP status codes">View Statuses</a>
            </p>
        </div>

        <div id="collapse-link-stats" class="accordion-body collapse out">
            <div class="accordion-inner">
                <table class="table table-bordered" ng-show="statusGroup">
                    <thead>
                        <tr class="header">
                            <th>Status</th>
                            <th>Count</th>
                            <th>Explanation <a class="pull-right" href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes" target="_blank" title="Read more about HTTP codes on Wikipedia">learn more</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in statusGroup track by key">
                            <th><strong>{{key}}</strong></th>
                            <td>{{value}}</td>
                            <td>{{ getStatusDescription(key).description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-repeat="page in checkedPages" ng-show="(page.ErrorCount > 0 && config.onlyShowErrors) || !config.onlyShowErrors">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">
                        <div class="span5">Page</div>
                        <div class="span2">Updated</div>
                        <div class="span3">Status <i ng-show="page.ErrorCount > 0" class="icon-alert warning"></i></div>
                        <div class="span2">Action</div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="span5"><strong>{{ page.Name }}</strong></div>
                        <div class="span2" title="By {{ page.UpdateUser }}">{{ page.UpdateDate | date }}</div>
                        <div class="span3"><span class="badge">{{ page.LinksCount }}</span> <span class="badge badge-success">{{ page.SuccessCount }}</span> <span class="badge badge-important">{{ page.ErrorCount }}</span></div>
                        <div class="span2">
                            <ul class="unstyled inline divider icons">
                                <li><a ng-href="{{page.Url}}" target="_blank" title="View"><i class="icon-out"></i></a></li>
                                <li><a ng-href="#/content/content/edit/{{ page.Id }}" target="_blank" title="Edit"><i class="icon-edit"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion" id="accordion-{{$index}}" ng-show="page.CheckedLinks.length > 0">
                        <div class="accordion-group">

                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{$index}}" href="#collapse{{$index}}">View Results </a>
                            </div>

                            <div id="collapse{{$index}}" class="accordion-body collapse out">
                                <div class="accordion-inner">
                                    <div class="row">
                                        <div class="span12">

                                            <div class="text-right" ng-show="config.showSearchBox">
                                                <div class="input-prepend">
                                                    <span class="add-on"><i class="icon-search"></i></span>
                                                    <input type="search" ng-model="searchText" placeholder="Search">
                                                </div>
                                            </div>

                                            <table class="table table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>URL</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>OK?</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="link in page.CheckedLinks | filter:searchText" ng-show="(config.onlyShowErrors && !link.IsSuccessCode) || !config.onlyShowErrors">
                                                        <td><a href ng-click="openDetail(link, page)">{{ link.Url | limitTo: 70 }}</a></td>
                                                        <td>{{ link.TypeName }}</td>
                                                        <td>{{link.StatusCode }} {{ link.Status }}</td>
                                                        <td><span ng-class="{ 'label label-success' : link.IsSuccessCode, 'label label-error' : !link.IsSuccessCode }"><i ng-class="{ 'icon-check' : link.IsSuccessCode, 'icon-alert' : !link.IsSuccessCode }"></i></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
