/* Denna fil innehåller knapparnas övriga stil (annat än typo-grejer). Man måste återställa vissa färger och properties */

.button,
.button-blue {
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.button,
.button-blue,

.button a,
.button-blue a,

.button a:hover,
.button-blue a:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration:none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #F7976E;
}

.button-blue:hover {
    background-color: #56C8EA;
}