header .search-form {
    margin: 20px 0;
    float: right;
}

#top-nav input[type="search"] {
    width: 73%;
    width: calc(100% - 73px);
}

#search-total-results {
    font-weight: bold;
}

.search-result span {
    vertical-align: top;
}

@media only screen and (max-width: 767px) {
    .search-form {
        display: none;
    }
}