@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
    var insideContainer = LeftNavigation.Any() && !Model.Content.GetPropertyValue<bool>("hideLeftNav");
}

@if (insideContainer)
{
    <div class="container">
        @PageContent()
    </div>
}
else
{
    @PageContent()
}

@helper PageContent()
{
Html.RenderPartial("Layout/_LeftNav");
Html.RenderPartial("Layout/_RightColumnContent");
    <main role="main">
        @Html.GetGridHtml(Model.Content, "grid")
    </main>
}