
/* ------------------------------------------- */
// FONT
$lg-font-size: 17px;
$md-font-size: 14px; 



/* ------------------------------------------- */
// CONTAINER
$laptopwidth: 1430px;
$default-container-width-value: 1170!global;
$default-container-width: $default-container-width-value + px;
$mediumContainerWidthValue: 1020!global;
$mediumContainerWidth: $mediumContainerWidthValue + px;
$smallContainerWidthValue: 820!global;
$smallContainerWidth: $smallContainerWidthValue + px;