/* == CSS used in html-editors, only edit these in Umbraco (Settings/Stylesheets/typo) == */
img {    /* Sätt dessa properties så de även gäller när man redigerar i Tiny. Ser bättre ut då */    max-width: 100%;    height: auto !important;
	/* Umbraco sätter fast höjd i Tiny */}
.button,
.button-variant{  
	padding: 12px 24px;    border-radius: 4px;    display: inline-block;	margin: 3px 0;
}

/**umb_name:Knapp*/
.button{background-color: #FB7840;}

/**umb_name:Knapp 2*/
.button-variant{background-color:#1AAAD6;}

/**umb_name:Rubrik 1*/
h1{font-size: 2.7em;}

/**umb_name:Rubrik 2*/
h2{font-size: 2.1em;}

/**umb_name:Rubrik 3*/
h3{font-size: 1.6em;}

/**umb_name:Rubrik 4*/
h4{font-size: 1.2em;}

/**umb_name:Rubrik 5*/
h5{}

/**umb_name:Stycke*/
p{font-size: 1em;}

/**umb_name:Ingress*/
.ingress{font-size:1.3em;
font-weight:100;}