@inherits CamelontaUmbracoTemplatePage

@if (SearchPage != null)
{
    <form class="search-form" action="@SearchPage.Url" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
        <input class="search-form__input" type="search" name="q" itemprop="query-input" placeholder="@SearchPage.Name" autocomplete="off" value="@Request.QueryString["q"]" />
        <button class="search-form__button">
            <i class="search-form__button-icon icon-search"></i>
        </button>
    </form>
}
