@model IPublishedContent

<div class="search-menu">
    <div class="search-menu__close">
        <img class="search-menu__close-icon" src="~/img/close.svg" />
    </div>

    @{ Html.RenderPartial("_SearchForm"); }
</div>
