@inherits CamelontaUmbracoTemplatePage
@{
    var topLinks = CurrentSite.GetPropertyValue<IEnumerable<IPublishedContent>>("topLinks");
}

@if (topLinks != null && topLinks.Any())
{
    <div class="top-links">
        <ul class="top-links__list">
            @foreach (var topLink in topLinks)
            {
                var page = Umbraco.Content(topLink.GetPropertyValue("link"));
                var linkText = topLink.HasValue("linkText") ? topLink.GetPropertyValue("linkText") : page.NavName();

                <li>
                    <a href="@page.Url" class="top-links__link">
                        <span>@linkText</span>
                        @if (topLink.HasValue("icon"))
                        {
                            var iconId = topLink.GetPropertyValue("icon");
                            <img src="@Umbraco.TypedMedia(iconId).Url?width=30&mode=min" alt="@linkText">
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
}
