<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Common Page Grid</Name>
  <Alias>CommonPageGrid</Alias>
  <Design><![CDATA[@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @RenderPage("Partials/_LeftNav.cshtml")
    <main>
        @Model.Content.GetGridHtml("contentMiddle")
    </main>
</div>]]></Design>
</Template>