<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Vanlig sida</Name>
    <Alias>CommonPage</Alias>
    <Icon>icon-article</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Layout</Master>
    <Compositions>
      <Composition>Layout</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>CommonPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>CommonPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Faq</DocumentType>
    <DocumentType>internalLink</DocumentType>
    <DocumentType>CommonPage</DocumentType>
    <DocumentType>CommonPageGrid</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Innehåll</Name>
      <Alias>contentRight</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Högerkolumn</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Innehåll</Name>
      <Alias>contentMiddle</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Innehåll</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>32</Id>
      <Caption>Högerkolumn</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>33</Id>
      <Caption>Innehåll</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>