
/*-------------------------------------*/
// COLORS
/* 
    Name those colors: http://www.noxproductions.se/namethosecolors
*/
$purple: #7b5294;
$purple-light: #c4add2;



/*-------------------------------------*/
// WIDTHS
$default-container-width-value: 1170!global;
$default-container-width: $default-container-width-value + px;




/*-------------------------------------*/
// ANNAN SEKTION SOM DU NAMGER
