/// <reference path="mixins/flexbox.scss"/>
html {
    color: #222;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    min-height: 100%;
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    position: relative;
}

::-moz-selection {
    background: #ff005e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $aths-special;
    text-shadow: none;
}

button {
    outline: 0;
}

canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto!important; /* TinyMCE sets a fixed height-attribute on every image. Images should never have a fixed height, that's why this rule should never brake something. If !important brakes something in your template, you might have done something crazy - like setting fixed width or height on an image. */ 
}

textarea {
    resize: vertical;
}

iframe, table {
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    color: $corduroy;
    text-decoration: none;

    i, span {
        vertical-align: middle;
    }
}

@media only screen and (max-width: 990px) {
    body {
        font-size: em(14px);
    }
}


/* Browsersync is displaying this annoying thing every page reload. Very påträngande when developing mobile header/top-bar */
#__bs_notify__ {
    display: none !important;
}
