/* == CSS used in html-editors, only edit these in Umbraco (Settings/Stylesheets/typo) == */
img {    /* Sätt dessa properties så de även gäller när man redigerar i Tiny. Ser bättre ut då */    max-width: 100%;    height: auto !important;
	/* Umbraco sätter fast höjd i Tiny */}
.button,
.button-variant{  
	padding: 12px 24px;    display: inline-block;	margin: 3px 0;
}

/**umb_name:Header 1*/
h1{font-size: 2.7em;}

/**umb_name:Header 2*/
h2{font-size: 2.1em;}

/**umb_name:Header 3*/
h3{font-size: 1.6em;}

/**umb_name:Header 4*/
h4{font-size: 1.2em;}

/**umb_name:Paragraph*/
p{font-size: 1em;}

/**umb_name:Preamble*/
.preamble{font-size:1.3em;
font-weight:100;}

/**umb_name:Button*/
.button{background-color: #1565C0;}

/**umb_name:Button 2*/
.button-variant{background-color:#F9A825;}

/**umb_name:Dark background*/
.darkBackground{color: #fff;
display: inline;
background: rgba(0,0,0,.7);
box-shadow: 0.47368em 0 0 rgba(0,0,0,.7), -0.47368em 0 0 rgba(0,0,0,.7);
padding: 2px;}

/**umb_name:No margin top*/
.noMarginTop{margin-top: 0;}