.hide {
    display: none;
}

.highlight {
    background-color: #FFFF88;
}

.noMarginTop {
    margin-top: 0;
}

.darkBackground {
    color: #fff;
    display: inline;
    background: rgba(0,0,0,.4);
    box-shadow: 0.47368em 0 0 rgba(0,0,0,.4), -0.47368em 0 0 rgba(0,0,0,.4);
    padding: 2px;
}

.preamble {
    font-size:1.3em;
    font-weight:100;
}