<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Extern länk</Name>
    <Alias>externalLink</Alias>
    <Icon>icon-link</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Göm i navigeringen</Name>
      <Alias>umbracoNaviHide</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Sidegenskaper</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidan går att komma åt men visas inte i navigeringen]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Navigationsnamn</Name>
      <Alias>navName</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Sidegenskaper</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Annat namn på sidan i navigeringen]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Extern länk</Name>
      <Alias>externalLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Sidegenskaper</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Klistra in hela adressen till den externa sidan det skall länkas till]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>26</Id>
      <Caption>Sidegenskaper</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>