@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var take = String.IsNullOrWhiteSpace(Model.MacroParameters["take"].ToString()) ? 10 : Convert.ToInt32(Model.MacroParameters["take"]);
    var node = Umbraco.TypedContent(Model.MacroParameters["pagenode"]);
    var pages = node.Children.Take(take);
}

<h3>@Model.MacroParameters["header"]</h3>

<ul>
    @foreach (var page in pages) {
        <li>
            <a href="@page.Url">@page.Name</a>
        </li>
    }
</ul>