@using System.ServiceModel.Syndication
@using System.Xml
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var url = Model.MacroParameters["url"].ToString();
    var take = String.IsNullOrWhiteSpace(Model.MacroParameters["take"].ToString()) ? 10 : Convert.ToInt32(Model.MacroParameters["take"]);
    var reader = XmlReader.Create(url);
    var items = SyndicationFeed.Load(reader).Items.Take(take);
}
<ul>
    @foreach (var item in items)
    {
        <li>@item.Title.Text</li>
    }
</ul>