<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Common Page</Name>
  <Alias>CommonPage</Alias>
  <Design><![CDATA[@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @RenderPage("Partials/_LeftNav.cshtml")

    <main>
        @Model.Content.GetPropertyValue("contentMiddle")
    </main>

    @if (Model.Content.HasValue("contentRight"))
    {
        <aside>
            @Model.Content.GetPropertyValue("contentRight")
        </aside>
    }
</div>]]></Design>
</Template>