@inherits CamelontaUmbracoTemplatePage

@if (SideContent != null && SideContent.Any())
{
    <aside role="complementary">
        <div class="aside-content">
            @foreach (var item in SideContent)
                {
                <div class="aside-content__block">
                    @if (item.DocumentTypeAlias == "rightColumnCommonBlurb")
                    {
                        @item.GetPropertyValue("textContent")
                    }
                </div>
            }
        </div>
    </aside>
}