<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>typo</Name>
  <FileName>typo</FileName>
  <Content><![CDATA[/* == CSS used in html-editors, only edit these in Umbraco (Settings/Stylesheets/typo) == */
img {
    /* Sätt dessa properties så de även gäller när man redigerar i Tiny. Ser bättre ut då */
    max-width: 100%;
    height: auto !important; /* Umbraco sätter fast höjd i Tiny */
}
.button,
.button-blue{
    padding: 12px 24px;
    border-radius: 4px;
    display: inline-block;
	margin: 3px 0;
}

]]></Content>
  <Properties>
    <Property>
      <Name>Knapp</Name>
      <Alias>.button</Alias>
      <Value>background-color: #FB7840;</Value>
    </Property>
    <Property>
      <Name>Knapp 2</Name>
      <Alias>.button-blue</Alias>
      <Value>background-color:#1AAAD6;</Value>
    </Property>
    <Property>
      <Name>Stycke</Name>
      <Alias>p</Alias>
      <Value>
      </Value>
    </Property>
    <Property>
      <Name>Rubrik 1</Name>
      <Alias>h1</Alias>
      <Value>
      </Value>
    </Property>
    <Property>
      <Name>Rubrik 2</Name>
      <Alias>h2</Alias>
      <Value>
      </Value>
    </Property>
    <Property>
      <Name>Rubrik 3</Name>
      <Alias>h3</Alias>
      <Value>
      </Value>
    </Property>
    <Property>
      <Name>Rubrik 4</Name>
      <Alias>h4</Alias>
      <Value>
      </Value>
    </Property>
    <Property>
      <Name>Rubrik 5</Name>
      <Alias>h5</Alias>
      <Value>
      </Value>
    </Property>
  </Properties>
</Stylesheet>