<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Hem</Name>
    <Alias>home</Alias>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Layout</Master>
    <Compositions>
      <Composition>Layout</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Home</Template>
    </AllowedTemplates>
    <DefaultTemplate>Home</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>internalLink</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>a0e1556f-fd3c-479d-8034-b6530fa75c88</Definition>
      <Tab>Innehåll</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Bildspel</Name>
      <Alias>slider</Alias>
      <Type>Imulus.Archetype</Type>
      <Definition>6e53f709-5a92-405b-b126-71f47870f5c4</Definition>
      <Tab>Innehåll</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>22</Id>
      <Caption>Innehåll</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>