@inherits Umbraco.Web.Macros.PartialViewMacroPage

<img src="@Umbraco.TypedMedia(Model.MacroParameters["image"]).Url" class="max-width" alt="@Model.MacroParameters["text"]">
<div>
    <i>@Model.MacroParameters["text"]</i>
</div>